.container-grid {
  display: grid;
  gap: 1.5rem;
  
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}


@media(min-width:768px) {
  .container-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }
  
  .testimonial:last-child {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}